* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

.d-flex{
    height: 50px;
}



.container{
    margin-top: 1%;
    height:1000px;

}

.col-7{
    margin-left: 3%;
    width:70%;
    height: 100%px;
}

iframe{
    width: 100%;
    height: 520px;
}

@media screen and (max-width: 1080px) {
  
    iframe{
        height: 100%;
    }
}





